include *.py
include buildout.cfg
include checkouts.cfg
include travis.cfg
include versions.cfg
include code-analysis.cfg
recursive-include Products *.po
recursive-include Products *.pot
recursive-include Products *.sh
recursive-include docs *.GPL
recursive-include docs *.txt
recursive-include Products *.cpt
recursive-include Products *.cpy
recursive-include Products *.gif
recursive-include Products *.metadata
recursive-include Products *.pt
recursive-include Products *.py
recursive-include Products *.txt
recursive-include Products *.xml
recursive-include Products *.zcml
recursive-include Products *.zpt
prune .idea
